<p>标题：《{{title}}》 <a href="{{{url}}}" target="_blank" rel="nofollow noreferrer">{{url}}</a> </p>
<p>创建时间：{{ create_at }}</p>
<p>作者：<a href="/author/{{authorId}}" target="_blank">{{author}}</a></p>
<p>地址：{{author_location}}</p>
{{#each imgs}}
  <img src="{{{this}}}">
{{/each}}
<hr>
